/* Offer Letter*/

.offer-letter-container {
  font-family: Montserrat;
  text-align: left;
  white-space: normal;
} 

.offer-letter-title {
  margin-top: 10%;
  font-size: 35px;
  text-align: left;
  text-transform: uppercase;
}
.offer-letter-subtitle {
  font-size: 25px;
  margin-top: -40px;
  text-align: left;
  text-transform: uppercase;
}

.offer-letter-body {
  margin-top: 10%;
  font-size: 20px;
  line-height: 1.2em;
}

.offer-letter-signature {
  margin-top: 20%;
  font-size: 13px;
}

hr.solid {
  margin-top: 20%;
  border-top: 1px solid #bbb;
}

b {
  font-weight: bold;
}
/* Scholarship*/ /* Participation */

.scholarship-container,
.participation-container {
  line-height: 1.5;
  font-size: 16px;
  font-family: Montserrat;
  text-align: left;
  white-space: normal;
}

.scholarship-title,
.participation-title {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.scholarship-subtitle,
.participation-subtitle {
  font-size: 18px;
  line-height: 2;
}

.scholarship-type {
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
.scholarship-body,
.participation-body {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
}
