<p>--<br />
        Digital Product School<br>
        by UnternehmerTUM GmbH<br>
        Lichtenbergstr. 6<br>
        85748 Garching bei München<br>
        +49 89-18 94 69-0<br>
        <a href="https://www.unternehmertum.de/">www.unternehmertum.de</a><br>
        <a href="https://digitalproductschool.io/">www.digitalproductschool.io</a><br>
        <a href="mailto:hello@dpschool.io">hello@dpschool.io</a><br>
        <a href="https://www.facebook.com/digitalproductschool"> Facebook </a>|
        <a href="https://twitter.com/dpschool_io"> Twitter </a>|
        <a href="https://www.linkedin.com/company/digital-product-school/"> LinkedIn </a>|
        <a href="https://www.instagram.com/digitalproductschool/"> Instagram </a>|
        <a href="https://leaks.digitalproductschool.io/"> Medium </a><br><br>
        Managing Directors:<br>
        Prof. Dr. Helmut Schönenberger (CEO), Claudia Frey,<br>
        Stefan Drüssler, Thomas Zeller, Dr. Andreas Liebl<br>
        Chairwoman of the supervisory board: Susanne Klatten<br>
        Register Court, Munich: HRB 141703<br>
        VAT: DE 252 789 694</p>