<p>Hello {{ applicantName }},<br><br>
        Thanks for the nice conversation we had!<br>
        We are happy to inform you that we have decided to offer you a spot at Digital Product School as a
        {{applicantTrack}}!<br>
        We would be very excited to have you on board, contributing to one of our problem spaces while gathering loads of experience in working with a cross-functional team for 3 months!<br><br>
        Please let us know <b>whether you still want to take part in DPS by submitting this form</b>:<br>
        <table cellspacing="0" cellpadding="0">
                <tr>
                        <td style="padding: 12px 18px 12px 18px; border-radius:5px; background-color: #071346;" align="center">
                                <a href="{{acceptanceForm}}" target="_blank"
                                        style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none; display: inline-block;">Fill the form &rarr;</a>
                        </td>
                </tr>
        </table>
        
        <br><br>
        If you have any questions, please write to <a
                href="mailto:support@digitalproductschool.atlassian.net">support@digitalproductschool.atlassian.net</a>
        and we’ll get back to you as quickly as possible! <br><br>
        Cheers,<br>
        Your DPS Team<br><br></p>
