<p>Hello {{ applicantName }},<br><br>
        Thanks for the nice conversation we had!<br>
        I’m happy to inform you that we have decided to offer you a spot at Digital Product School as a
        {{applicantTrack}}!<br>
        I would be excited if you join us for 3 months of fun and learning.<br><br>
        Please let me know as soon as possible, whether you take part at DPS by <b>submitting the form</b>:<br>
        <table cellspacing="0" cellpadding="0">
                <tr>
                        <td style="padding: 12px 18px 12px 18px; border-radius:5px; background-color: #071346;" align="center">
                                <a href="{{acceptanceForm}}" target="_blank"
                                        style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none; display: inline-block;">Fill the form &rarr;</a>
                        </td>
                </tr>
        </table>
</p>