<p>Hello {{ applicantName }},<br><br>
        Thank you for your application to the Digital Product School in Munich.<br>
        Unfortunately we decided move forward with another candidate for the {{applicantTrack}} track.<br><br>
        What does that mean? <br>
        We have a limited number of
        spots and we had a lot of strong applications for this batch, so unfortunately we had to decline many promising talents. We
        appreciate the time you invested and we’d like to thank you for giving us the opportunity to learn about your
        skills
        and accomplishments. We strongly believe you will make your way if you pursue a career in {{applicantTrack}}. We encourage you to continue building your skills and if you’re still interested in DPS
         we invite you to apply for one of our future batches. <br><br>
        Please let us steer your attention towards <b>another wonderful opportunity</b>:<br><br>
        Are you interested in boosting a start-up project as a temporary team member - with
        the possibility to continue working together after the program?<br>
        With UnternehmerTUM’s pre-Incubation Program XPLORE you have the great opportunity to team up with a tech-driven
        early stage start-up for the duration of 8 weeks.
        During the program you will develop together a valid business model, test market chances and prepare first
        financing. While
        doing so, the project teams will be supported through experts and professional coaching sessions.<br><br>
        Link to <a href="https://www.unternehmertum.de/xplore.html?lang=en">XPLORE</a><br><br>
        Thank you and good luck with your future professional endeavors,<br>
        Your DPS team<br><br></p>
