<p>Hello {{ applicantName }},<br><br>
        Great to see you at Digital Product School Batch#{{batch}}!<br><br>
        Thanks for submitting the form! The data we received is like below: <br>
        <table cellspacing="0" cellpadding="0">
                <tr>
                        <td style="padding-right:10px;"><b>Type of participation:</b></td>
                        <td> {{ location }}</td>
                </tr>
                <tr>
                        <td style="padding-right:10px;"><b>Street & Number:</b></td>
                        <td> {{ streetNumber }}</td>
                </tr>

                <tr>
                        <td style="padding-right:10px;"><b>Address Suffix:</b></td>
                        <td> {{ addressSuffix }} </td>
                </tr>
                <tr>
                        <td style="padding-right:10px;"><b>Postcode:</b></td>
                        <td> {{ postcode }} </td>
                </tr>
                <tr>
                        <td style="padding-right:10px;"><b>City:</b></td>
                        <td> {{ city }} </td>
                </tr>
                <tr>
                        <td style="padding-right:10px;"><b>Country:</b></td>
                        <td> {{ country }} </td>
                </tr>
                <tr>
                        <td style="padding-right:10px;"><b>Account Holder:</b></td>
                        <td> {{ accountHolder }} </td>
                </tr>
                <tr>
                        <td style="padding-right:10px;"><b>Name of Bank:</b></td>
                        <td> {{ bankName }} </td>
                </tr>
                <tr>
                        <td style="padding-right:10px;"><b>Account number / IBAN:</b></td>
                        <td> {{ iban }} </td>
                </tr>
                <tr>
                        <td style="padding-right:10px;"><b>SWIFT code / BIC:</b></td>
                        <td> {{ bic }} </td>
                </tr>
                <tr>
                        <td style="padding-right:10px;"><b> Food Intolerances:</b></td>
                        <td> {{ foodIntolerances }} </td>
                </tr>
                <tr>
                        <td style="padding-right:10px;"><b> Shirt Size & Style:</b></td>
                        <td> {{ shirtSize }} &  {{ shirtStyle }} </td>
                </tr>
        </table><br><br>

        If you want to update the data in the form, please
        <b>resubmit the form</b> with the updated data:<br><br>
        <table cellspacing="0" cellpadding="0">
                <tr>
                        <td style="padding: 12px 18px 12px 18px;
                                border-radius:5px; background-color: #071346;" align="center">
                                <a href="{{acceptanceForm}}" target="_blank" style="font-size: 14px; font-family:
                                        Helvetica, Arial, sans-serif;
                                        font-weight: bold; color: #ffffff;
                                        text-decoration: none; display:
                                        inline-block;">Update
                                        the form &rarr;</a>
                        </td>
                </tr>
        </table>
</p>