<p>Hello {{ applicantName }},<br><br>
        Enclosed you can find some important information:<br>
        <ul>
                <li>Offer Letter: The official confirmation that you will participate in Digital Product School. If you
                        need to apply for a visa, this is the confirmation that you take part in
                        our training program.</li>
                <li>Track Description: This document describes the content of your specific
                        track at DPS. It is mainly for the visa office at the German embassy to provide them further
                        information
                        about our program.</li>
                <li>Visa FAQs: Further information for you with our experiences in the visa
                        process. This should help you to have a smooth process to your visa and may ans5wer a lot of
                        questions
                        you have.</li>
                <li>Scholarship Options: DPS and the scholarships are supported by the Bavarian
                        government. Due to regulations on how to use these grants there are different types regarding
                        the
                        amount. You can find some information and explanation about the different types in this
                        document.</li>
        </ul>
</p>