<p>Hello {{ applicantName }},<br><br>
        first, my sincere apologies that you haven’t heard back from me earlier. I finally want to give you and update
        on your application for the {{applicantTrack}} track in Digital Product School, Batch#{{batch}}.<br>
        Unfortunately I can only offer you a place on the waiting list.<br>
        So what does it mean to be on the waiting list? For now, the next batch is full. But if another candidate pulls
        back in the last minute, we offer the slot to someone on the waiting list. If that happens, you will hear from us until
        {{batchStart}}.
        Until then I wanted to thank you again for your application. We appreciate the time you’ve invested and the opportunity
        to learn about your skills and accomplishments. If you’re
        still interested in the DPS program, we invite you to apply for our future batches.
</p>