<p>Hello {{ applicantName }},<br><br>
        Thank you for your interest in Digital Product School!<br>
        We are very happy to inform you that we decided to proceed further with your application for the
        {{ applicantTrack }} track.</br><br>
        The next step is to complete our technical challenge. You can find more details about the challenge through the
        following link:</br>
        <a href="{{ challengeLink }}">{{ challengeLink }}</a><br><br>
        If you have any questions, please write to: <a
                href="mailto:support@digitalproductschool.atlassian.net">support@digitalproductschool.atlassian.net</a></br><br>
        Good Luck!<br>
        Your DPS Team<br><br></p>
