<p>Hello {{ applicantName }},<br><br>
        Enclosed you can find some important agreements:<br>
        <ul>
                <li>Scholarship Agreement</li>
                <li>Participation Agreement</li>
        </ul>
        You will also get the original copies enclosed with your welcome package, which you will get in the office in
        person or receive via post
        (depending on your participation mode).
        Please read all of them carefully and check your <b>name, address, and bank account details </b> in particular.
        If there is any
        mistake or you want to change your data, please <b>resubmit the form </b>with the correct data. Keep in mind
        that you can get Munich scholarship only if you fill a Munich address (steet number, postcode that
        belongs to Munich).<br><br>
        Furthermore, I would like to ask you to sign the documents (don't forget place and date) and send them back to
        me as a
        scan as soon as possible. As long as you don't send me your signed documents, you won't get any scholarship. For
        the
        time being a scan of the agreements is enough, nevertheless, our finance department requires the signed original
        copies
        by the end of the batch at the latest. Therefore we will enclose a labeled envelope with the welcome package.
        <br><br><b>
                Once again, please send your signed documents via e-mail at <a
                        href="mailto:support@digitalproductschool.atlassian.net">support@digitalproductschool.atlassian.net</a>
                as soon as possible (by {{batchStart}} at the latest).<br><br>
                The digital signature is also fine.</b><br><br>

        If you have any further questions regarding the documents, please write to <a
                href="mailto:support@digitalproductschool.atlassian.net">support@digitalproductschool.atlassian.net</a>
        and
        we’ll get back to you as soon as possible! <br><br>
        We will reach out to you with further information before your batch starts.<br>
        Cheers,<br>
        Your DPS Team<br><br>
</p>