<p>Hello {{ applicantName }},<br><br>
        Thank you for your application to the Digital Product School in Munich.<br>
        Unfortunately we cannot move forward with your application for the {{applicantTrack}} track.<br><br>
        What does that mean? <br>
        We have a limited number of
        places and we had a lot of strong applications for this batch, so we have to decline many promising talents. We
        appreciate the time you’ve invested and we’d like to thank you for giving us the opportunity to learn about your
        skills
        and accomplishments. We encourage you to continue building your skills and if you’re still interested in the DPS
        program, we invite you to apply for our future batches. <br><br>
        We want to draw your attention to <b>another wonderful opportunity</b>:<br><br>
        Are you looking for an exciting and startup project?<br>
        Do you have time capacities in the next weeks?<br>
        Are you interested in boosting a startup project as a temporary team member - with
        the possibility to continue working together after the project period?<br>
        With UnternehmerTUM’s pre-Incubation Program XPLORE, you have a great possibility to team up with a tech-driven
        early stage startup for the duration of 8-weeks.
        During the program, you develop together a valid business model, test market chances and prepare first
        financing. While
        doing so, the project teams will be supported through experts and professional coaching sessions.<br><br>
        Link to <a href="https://www.unternehmertum.de/xplore.html?lang=en">XPLORE</a>
</p>